*{
  margin: 0;
  padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 480px) {
  #logo{
    font-size:large;
  }
  #setting{
    display: flex;
    flex-direction: column;
  }
   #update{
     padding: auto , 0;
   }
   #sidebar{
    display: none;
   }
}

